In [2]:
var1 = 10
var2 = 30
print(var1+var2)

40

In [6]:
int_var1 = int(input("enter first value: "))
int_var2 = int(input("enter second value: "))
print(int_var1 + int_var2)

enter first value: 48
enter second value: 52
100

In [8]:
a = 50
b = 10
print(a+b)
print(a-b)
print(a/b)
print(a*b)
print(a//b)
print(a**b)

60
40
5.0
500
5
97656250000000000

In [9]:
a = 10
b = 15
print(a<b)
print(a>b)
print(a<=b)
print(a>=b)
print(a!=b)
print(a==b)

True
False
True
False
True
False

In [10]:
a = 10
b = 20
print(a<b and a>b)
print(a<b or a>b)
print(not(a<b and a>b))

False
True
True